.container {
  max-width: 900px;
  margin: 0 auto;
}

h2 {
  font-weight: 600;
  margin-bottom: 20px;
}

.fc {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 3px 10px rgba(31, 29, 29, 0.1);
}
/* calendario.css */
.wizard-backdrop{
  position: fixed; inset: 0;
  background: rgba(90, 88, 88, 0.45);
  display: grid; place-items: center;
  z-index: 1050;
}
.wizard-card{
  background: #6d92b4dc; width: 420px; max-width: 92vw;
  padding: 20px; border-radius: 12px; box-shadow: 0 10px 30px rgba(5, 62, 250, 0.952);
}
